﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

.navStrip{
    margin-top:20px;
}

.padding-top-20{
    padding-top:20px;
}

.translation-grid{
    table-layout:fixed; 
    word-wrap:break-word; 
    max-width:100%;
}

.translation-grid input[type="text"] {
    max-width:100%;
}

.controlsMaxWidth{
    max-width: 310px;
}

.headerTextColor{
    padding-top: 15px;
    padding-bottom: 15px;
    color: #999999;
}
